# GCP credentials
*.json
!dbt_project/profiles.yml

# Python
__pycache__/
*.pyc
.env
venv/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# OS
.DS_Store
Thumbs.db

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
